@keyframes pulse {
    0% {
        background-color: #001F3F;
    }
    50% {
        background-color: #FF4136;
    }
    100% {
        background-color: #001F3F;
    }
}

@keyframes opacitun {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1.0;
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
form,
span {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: Nexa, sans-serif;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    width: 1550px;
    height: 1135px;
    background: url("../images/banner.png");
}

.aligner {
    width: 960px;
    margin: 0 auto;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.nav_list {
    display: flex;
    flex-flow: row nowrap;
}

.nav_item {
    margin: 10px 8px 0px;
}

.nav_link {
    font-size: 0.75rem;
    color: #4f4d6a;
    font-weight: bold;
    text-transform: uppercase;
}
.footer{
    font-family: Georgia, serif;
    background: #505050;
    margin: 85px 0;
}
.footer:after{
    content: '';
    display: block;
    clear: both;
}
.awesome{
    width: 60%;
    float: left;
}
.contact{
    width: 30%;
    float: right;
}
.awesome_title, .contact_title{
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 300;
    color: white;
    padding: 50px 0 20px;
}
.awesome_text, .copyright_text{
    margin: 0 0 60px;
}
.awesome_text, .contact_text, .copyright_text{
    font-family: "Open Sans", sans-serif;
    font-size: 0.75rem;
    color: white;
}


.banner {
    font-family: Georgia, serif;
    height: 1035px;
}

.banner_text {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.we_are {
    font-size: 1.5rem;
    font-style: italic;
    text-transform: uppercase;
    color: #4f4d6a;
    padding: 90px 0 0;
}

.studio_name {
    font-size: 7.813rem;
    color: #4f4d6a;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 15px 0 0;
    letter-spacing: -3px;
}

.studio_description {
    font-family: "Open Sans", sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #4f4d6a;
    padding: 8px 0 65px;
}

.banner_links {
    font-family: Georgia, sans-serif;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

}

.banner_work_link {
    font-size: 1.125rem;
    font-style: italic;
    background: linear-gradient(to top, #4f4d69, #6d6b89);
    color: white;
    padding: 10px 55px;
    margin: 10px;
    border-radius: 20px;

}

.banner_team_link {
    font-size: 1.125rem;
    font-style: italic;
    background: linear-gradient(to top, #9e8596, #cec0c8);
    color: white;
    padding: 10px 55px;
    margin: 10px;
    border-radius: 20px;

}

.our_worx{
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    align-items: center;
    background: #ebebeb;
    font-family: Georgia, serif;
}
.our_worx_name{
    font-size: 1.375rem;
    font-style: italic;
    font-weight: 300;
    color: #4f4d6a;
    padding: 35px 10px 10px;
}
.our_worx_description{
    font-size: 0.75rem;
    font-style: italic;
    font-weight: 300;
    color: #4f4d6a;
    padding: 0 11px;
    line-height: 22px;
}

.our_worx_list{
    position: relative;
    display:flex;
    flex-flow: row nowrap;
    width:960px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 75px 0 35px;

}
.action_text{
    font-size: 1.125rem;
    color: #4f4d6a;
    font-style: italic;
    font-weight: 300;
    text-transform: uppercase;
    padding: 65px 0 0;
}
.our_worx_title{
    font-size: 4.5rem;
    color: #4f4d6a;
    font-weight: bold;
    text-transform: uppercase;
}
.our_worx_links{
    display: flex;
    flex-flow: row nowrap;
    margin: 35px 0 90px;
}

.info{
    font-family:Georgia, serif;
}
.info_title{
    font-size: 1.5rem;
    font-style:italic;
    font-weight: 300;
    color: #4f4d6a;
    margin: 55px 0 25px;
}
.info_list{
    display: flex;
    flex-flow: row nowrap;

}
.info_text{
    font-size: 0.75rem;
    font-style: italic;
    font-weight: 300;
    line-height: 20px;
    color: #4f4d6a;
    margin: 0 0 30px;
}
.info_link{
    font-size: 0.75rem;
    font-weight: bold;
    font-style: italic;
    color: white;
    background: #4f4d6a;
    padding: 5px 20px;
    border-radius: 5px;
}
